- if provider.in?(Settings.issues_providers)
  = link_to (t ".sync_with_#{ provider }"), send("sync_with_#{ provider }_user_projects_url", current_user),
    :remote => true, :id => "start_sync_with_#{ provider }",
    :class => "btn btn-success btn-xs #{ 'hidden' unless show_start_sync_button(current_user, provider) }"

  = link_to (t ".stop_sync_with_#{ provider }"),
    send("stop_sync_with_#{ provider }_user_projects_url", current_user),
    :class => "btn btn-success btn-xs #{ 'hidden' unless show_stop_sync_button(current_user, provider)}",
    :remote => true, :id => "stop_sync_with_#{ provider }"
