$blue: #00f

$grey: rgba(0, 0, 0, .2)

.width-100-percent
  width: 100%

body
  overflow-y: scroll

.select2-search--inline
  width: 100% !important

.select2-search__field
  width: 100% !important

.blue
  color: $blue

.cell
  div
    background-color: $grey
    margin: 5px
    padding: 10px
    transition: opacity .4s ease-in-out

.handle
  cursor: move

.truncate
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.word-wrap
  word-wrap: break-word

textarea
  resize: vertical
