p = t '.hello'

p = t '.someone_has_requests_a_link_to_change_your_password_you_can_do_this_through_the_link_below'

p
  = link_to (t '.change_my_password'), edit_password_url(@resource, :reset_password_token => @token)

p = t '.if_you_didnt_request_this_please_ignore_this_email'

= render 'shared/email_signature'
